* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.oculto {
    display: none;
}

.displayRowCC {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.displayRowSbC {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.img-logo {
    background-color: #fff;
    border-radius: 100%;
    padding: 0.3rem;
}

.btn-footer {
    border-radius: 0 0 5px 5px !important;
    padding: 12px 20px !important;
    position: absolute;
    width: 100.5% !important;
    left: -1px;
    border-right: 2px solid #0dcaf0 !important;
    border-left: 2px solid #0dcaf0 !important;
    border-bottom: 2px solid #0dcaf0 !important;
    background-color: #0dcaf0 !important;
}

.card {
    position: relative;
}
